<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DayscoutIcon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DayscoutSysicon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DayscoutIcon.Properties.Settings>
            <setting name="serverUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="apiSecretSha1" serializeAs="String">
                <value />
            </setting>
            <setting name="updateInterval" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="networkTimeout" serializeAs="String">
                <value>12000</value>
            </setting>
            <setting name="durationDNSCache" serializeAs="String">
                <value>3600000</value>
            </setting>
            <setting name="alarmLow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="alarmHigh" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="alarmHigher" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="alarmLower" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="alarmBlglLow" serializeAs="String">
                <value>4.0</value>
            </setting>
            <setting name="alarmBlglHigh" serializeAs="String">
                <value>10.0</value>
            </setting>
            <setting name="alarmBlglLower" serializeAs="String">
                <value>4.8</value>
            </setting>
            <setting name="displayMmolDecimalsRouding" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="secondsGlucoseValueValid" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="bloodsugerUnitsIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="disclaimerAgreed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="confirmExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="noHypoAlarmWarningShowed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showNightscoutTrayLink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alarmBlglHigher" serializeAs="String">
                <value>7.9</value>
            </setting>
        </DayscoutIcon.Properties.Settings>
    </userSettings>
</configuration>